.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  height: var(--navbar-height);
  width: 100%;
  padding: 10px;
  background-color: var(--inverted-bg-color);
}

.link {
  &+ .link {
    margin-left: 10px;
  }
}